.footer{
    background-color: $black;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top:3px solid rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer_icon{
        color:$red;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .footer_text{
        color : rgba(255,255,250,0.4);
        font-weight: 800;
        text-transform: uppercase;
    }
}