.videoPlayer_wrap{
    width: 850px;
}
#jsVideoTime{
    --progressPersent : 0%;
    --thumbSize: 18px;
    --trackSize: 8px;
    --thumbBg: #fff;
    --trackBg: #f2f2f2;
    --progressBg: #262626;
}
.videoPlayer{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    &:hover{
        .videoPlayer_controls{
            opacity: 1;
        }
    }
    video{
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
    
    .videoPlayer_controls{
        opacity: 0;
        transition: opacity .4s linear;
        position: absolute;
        bottom:0px;
        width: 100%;
        height: 60px;
        color:#fff;
        display:grid;
        font-size: 16px;
        grid-template-columns : repeat(3,1fr);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        
        .videoPlayer_time{
            -webkit-appearance: none;
            display:inline-block;
            position: absolute;
            left:-2px;
            bottom: 58px;
            padding: 10px 0;
            width: 100%;
            height: 15px;
            border-radius: 0;
            
            background-color: rgba(94, 93, 93, 0.8);
            &::-webkit-slider-thumb{
                -webkit-appearance: none;
                background-color: #fff;
                border:1px solid black;
                height: 20px; width: 10px;
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;  
                border-radius: 3px;
                cursor: pointer;
            }
            &::-webkit-slider-runnable-track{
                background-image: linear-gradient(
                    90deg,
                    orange var(--progressPersent),
                    rgba(94, 93, 93, 0.8) var(--progressPersent))
            }
           
        }
        .videoPlayer_column:first-child{
            position: relative;
            display: flex;
            align-items: center;
            span:first-child{
                margin-right: 10px;            
            }
            .videoPlayer_volume{
                padding:0;
                width: 80px;
                z-index: 2;
                margin-right: 10px;
            }
        }
     
        .videoPlayer_column:nth-child(2){
            justify-self: center;
            display: flex;
            align-items: center;
        }
        .videoPlayer_column:nth-child(3){
            justify-self: end;
            display: flex;
            align-items: center;
        }
       
        i{
            margin-right: 2px;
            font-size: 25px;
            cursor: pointer;
            transition: font-size 0.4s;
            color:rgba(255, 255, 255, 0.5);
            &:hover{
                color:rgba(255, 255, 255, 0.8);
            }
        }
        
    }
    
    
}
