.search-header {
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.62);
    margin-bottom: 20px;
}
.search-videos{
.search-videos_wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    
    .videoBlock{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        padding: 10px;
        overflow: hidden;
        .videoBlock__thumbnail{
            width: 380px;
            margin-bottom: 10px;
        }
        a{
            color: $black;
            .videoBlock__title{
                font-size: 18px;
                font-weight: 800;
                margin-bottom: 8px;
                color:rgba(0, 0, 0, 0.9);
            }
            .videoBlock__description{
                font-size: 14px;
                font-weight: 800;
                margin-bottom: 3px;
                color:rgba(0, 0, 0, 0.42);
            }
            .videoBlock__views{
                font-size: 14px;
                font-weight: 600;
                color:rgba(0, 0, 0, 0.38);
            }
        }
    }
}
}